@import './variables';

.content.about {
    background-color: white;
    color: $firstColor;
    width: 50vw;

    .services {
        margin-bottom: 2rem;

        ul {
            list-style: none;
        }
    }
}

.picture-about {
    width: 90%;
    margin-bottom: 2rem;
    display: none;
}

@media (max-device-width: $responsive) {
    .content.about {
        width: 100%;
    }

    .picture-about {
        display: block;
    }
}
