.content {
    display: flex;
    justify-content: center;
    padding: 3rem;
    flex-direction: column;

    .close {
        text-align: right;
    }
}

@media (max-device-width: 768px) {
    .content {
        position: absolute;
        z-index: 100;
        height: 100vh;
    }
}
