@import './variables';
@import './mixins';

.content.contact {
    background-color: $thirdColor;
    color: white;
    width: 50vw;

    a {
        color: $secondColor;
    }

    .error {
        color: $secondColor;
        margin-top: 0.5rem;
    }

    form {
        .form-group {
            textarea {
                resize: none;
                margin-top: 0.5rem;
                height: 5rem;
                padding: 0.5rem;
            }

            button {
                @include button;

                &:hover {
                    background-color: white;
                }
            }
        }
    }
}

.captcha {
    margin: 1rem 0;
}

@media (max-device-width: $responsive) {
    .content.contact {
        width: 100%;
    }
}
