.content {
    display: flex;
    justify-content: center;
    padding: 3rem;
    flex-direction: column;
    width: 50%;

    .close {
        text-align: right;
        display: none;
    }
}

@media (max-device-width: 768px) {
    .content {
        position: absolute;
        z-index: 100;
        width: 100%;

        .close {
            display: block;
        }
    }
}
