@import './variables';

.content.contact {
    background-color: $thirdColor;
    color: white;

    a {
        color: $secondColor;
    }

    .thanks {
        margin-bottom: 1rem;
    }

    .error {
        color: $secondColor;
        margin-top: 0.5rem;
    }

    form {
        margin-top: 1rem;

        .form-group {
            textarea {
                resize: none;
                margin-top: 0.5rem;
                height: 5rem;
                padding: 0.5rem;
            }

            button {
                border: none;
                background-color: $secondColor;
                padding: 0.75rem;

                &:hover {
                    background-color: white;
                }
            }
        }
    }
}
