.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    input {
        min-width: 50%;
        border: none;
        padding: 0.5rem;
        margin-top: 0.5rem;
    }
}
