@import './variables';

.card {
    text-align: center;
    margin: 0.5rem;
    margin-top: 1rem;
}

.icon {
    width: 6rem;
    height: 6rem;
    padding: 0.5rem;
    background-color: $firstColor;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.alt-text-resp {
    margin-top: 0.5rem;
    display: none;
}

@media (max-device-width: 768px) {
    .alt-text-resp {
        display: block;
    }
}
