@import './variables';

.content.works {
    background-color: #39cacc;
    color: $firstColor;
    width: 50vw;
}

a {
    color: $firstColor;
}

.works-cards {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

@media (max-device-width: 768px) {
    .content.works {
        width: 100%;
    }
}
