@import './variables';
@import './mixins';

.content.works {
    background-color: #39cacc;
    width: 50vw;
}

.works-cards {
    margin-top: 2rem;
    @include wrap;
}

@media (max-device-width: $responsive) {
    .content.works {
        width: 100%;
    }
}
