@import './variables';
@import './mixins';

.content.work-info {
    background-color: white;

    .work-info-img img {
        width: 50%;
        margin: 1rem 0;
    }

    & p {
        margin-bottom: 1rem;
    }
}

.work-info-tech {
    @include wrap;
}

.button {
    border: none;
    background-color: $secondColor;
    padding: 0.75rem;
    width: 10rem;
    text-align: center;
}
