@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

p,
h2 {
    margin-bottom: 1rem;
}

.main {
    display: flex;
    width: 100%;
}

.eng > * {
    font-style: italic;
}

@media only screen and (max-width: 640px) {
    .main {
        display: flex;
        flex-direction: column;
    }
}
