@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    width: 100vw;
}

@media only screen and (max-width: 640px) {
    .main {
        display: flex;
        flex-direction: column;
    }
}
